.input {
  height: 55px;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -2px;
  font-family: monospace;
  background-color: #386200;
  color: black;
  padding: 11px 30px 11px 11px;
  margin-bottom: 1.5rem;
  box-shadow: -1px 10px 1px 1px #181818;
}